:root {
  /* Cores fixas */
  --azul-vibrante: #0073FF;
  --verde-agua: #00A688;

  /* Modo Claro */
  --claro-bg-principal: #F9FAFB;
  --claro-bg-secundario: #FFFFFF;
  --claro-texto-principal: #1A1A1A;
  --claro-texto-secundario: #2C2C2C;
  --claro-detalhes-bordas: #E5E7EB;

  /* Modo Escuro */
  --escuro-bg-principal: #1E1E1E;
  --escuro-bg-secundario: #2A2A2A;
  --escuro-texto-principal: #EDEDED;
  --escuro-texto-secundario: #9CA3AF;
  --escuro-detalhes-bordas: #3A3A3A;

  --texto-textos : "Baloo 2", sans-serif;
  --texto-titulos: "Sora", sans-serif;
}

main{
    margin-top: 50px;
}

h2{
    max-width: 500px;
}

#cta-chamado{
    background: var(--azul-vibrante);
    padding: 8px 16px;
    margin: 16px 0 30px 0;
    border: none;
    color: var(--claro-bg-secundario);
    border-radius: 4px;
}

table{
    border-spacing: 16px 0;
    border-collapse: separate;
}

#canais-suporte{
    border: 1px solid var(--claro-texto-secundario);
    background-color: var(--claro-detalhes-bordas);
    border-radius: 4px;
    width: 100%;
    padding: 20px 16px;
}